<h2>Signup</h2>

<p class="account-message">
  Do you already have an account?
  <a href="/login">Login</a>
</p>
<br>
{{#if message }}
<div class="error-message">{{ message }}</div>
{{/if}}
<br>
<hr><br>

<!-- MultiStep Form -->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Personal Details</li>
                <li>Social Profiles</li>
                <li>Account Setup</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Personal Details</h2>
                <h3 class="fs-subtitle">Tell us something more about you</h3>
                <input type="text" name="fname" placeholder="First Name"/>
                <input type="text" name="lname" placeholder="Last Name"/>
                <input type="text" name="phone" placeholder="Phone"/>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Social Profiles</h2>
                <h3 class="fs-subtitle">Your presence on the social network</h3>
                <input type="text" name="twitter" placeholder="Twitter"/>
                <input type="text" name="facebook" placeholder="Facebook"/>
                <input type="text" name="gplus" placeholder="Google Plus"/>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Create your account</h2>
                <h3 class="fs-subtitle">Fill in your credentials</h3>
                <input type="text" name="email" placeholder="Email"/>
                <input type="password" name="pass" placeholder="Password"/>
                <input type="password" name="cpass" placeholder="Confirm Password"/>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="submit" name="submit" class="submit action-button" value="Submit"/>
            </fieldset>
        </form>
        <!-- link to designify.me code snippets -->
        <div class="dme_link">
            <p><a href="http://designify.me/code-snippets-js/" target="_blank">More Code Snippets</a></p>
        </div>
        <!-- /.link to designify.me code snippets -->
    </div>
</div>
<!-- /.MultiStep Form -->






{{!-- <form action="/signup" method="POST" id="form-container">
  <label for="username">Nombre de usuario</label>
  <input id="username" type="text" name="username" placeholder="Nombre de usuario">

  <br><br>

  <label for="password">Contrase침a</label>
  <input id="password" type="password" name="password" placeholder="Tu contrase침a">
  <br>


  <br>
  <hr><br>

  <label for="name">Nombre</label>
  <input id="name" type="name" name="name" placeholder="Nombre">

  <br><br>

  <label for="surname">Apellidos</label>
  <input id="surname" type="surname" name="surname" placeholder="Apellidos">

  <br><br>

  <label for="zip">C칩digo postal</label>
  <input id="zip" type="zip" name="zip" placeholder="Tu c칩digo postal">

  <br><br>

  <select name="genre">
    <option value="1">Chica</option>
    <option value="2">Chico</option>
    <option value="3">Chique</option>
  </select>

  <br><br>
  <input type="submit" name="role" value="SOY ALUMNO">
  <input type="submit" name="role" value="SOY PROFE">

</form> --}}