<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Perfil</a></li>
  </ul>
</nav>

{{!-- AMBOS: ID --}}

<h1>Lista de citas</h1>
<p>gris-pendiente</p>
<p>verde-confirmada</p>
<p>rojo-pasada</p>

{{!-- {{#if eventos}}
PROBAR CUANDO HAYA EVENTOS meter un partial de event, de un array de User Event--}}


{{!-- SOLO PARA PUPILS --}}
<h1>Encuentra a tu profe</h1>
<div id="pupil">
  <div id="teachersMap"></div>
  <div id="form-meeting">

  </div>
</div>


<script>
  window.teacherList = {{{teacherStr}}}
</script>

<script src="/javascripts/listTeacherMap.js"></script>
